[submodule "pack/bundle/start/vim-colors-solarized"]
	path = pack/bundle/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-markdown"]
	path = pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bundle/start/vim-bundler"]
	path = pack/bundle/start/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/bundle/start/vim-cucumber"]
	path = pack/bundle/start/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "pack/bundle/start/vim-ping-cursor"]
	path = pack/bundle/start/vim-ping-cursor
	url = https://github.com/uptech/vim-ping-cursor.git
[submodule "pack/bundle/start/vim-slack-format"]
	path = pack/bundle/start/vim-slack-format
	url = https://github.com/uptech/vim-slack-format.git
[submodule "pack/bundle/start/vim-test-recall"]
	path = pack/bundle/start/vim-test-recall
	url = https://github.com/uptech/vim-test-recall.git
[submodule "pack/bundle/start/vim-textobj-user"]
	path = pack/bundle/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "pack/bundle/start/vim-textobj-rubyblock"]
	path = pack/bundle/start/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "pack/bundle/start/vim-xcode"]
	path = pack/bundle/start/vim-xcode
	url = https://github.com/gfontenot/vim-xcode.git
[submodule "pack/bundle/start/vim-rust"]
	path = pack/bundle/start/vim-rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/bundle/start/vim-swift"]
	path = pack/bundle/start/vim-swift
	url = https://github.com/keith/swift.vim.git
[submodule "pack/bundle/start/vim-ack"]
	path = pack/bundle/start/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/bundle/start/vim-completor"]
	path = pack/bundle/start/vim-completor
	url = https://github.com/maralla/completor.vim.git
[submodule "pack/bundle/start/vim-completor-swift"]
	path = pack/bundle/start/vim-completor-swift
	url = https://github.com/maralla/completor-swift.git
[submodule "pack/bundle/start/vim-highlightedyank"]
	path = pack/bundle/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
